<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cesar.carservice" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MenuActivity"
            android:label="@string/title_activity_menu"
            android:parentActivityName=".LoginActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.cesar.carservice.LoginActivity" />
        </activity>
        <activity
            android:name=".ListCarOwnersActivity"
            android:label="@string/title_activity_list_car_owners"
            android:parentActivityName=".MenuActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.cesar.carservice.MenuActivity" />
        </activity>
        <activity
            android:name=".ManipulateCarOwnerActivity"
            android:label="@string/title_activity_manipulate_car_owner"
            android:parentActivityName=".ListCarOwnersActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.cesar.carservice.ListCarOwnersActivity" />
        </activity>
        <activity
            android:name=".ShowCarOwnerActivity"
            android:label="@string/title_activity_show_car_owner"
            android:parentActivityName=".ListCarOwnersActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.cesar.carservice.ListCarOwnersActivity" />
        </activity>
        <activity
            android:name=".ShowCarActivity"
            android:label="@string/title_activity_show_car"
            android:parentActivityName=".MenuActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.cesar.carservice.MenuActivity" />
        </activity>
        <activity
            android:name=".ManipulateCarActivity"
            android:label="@string/title_activity_manipulate_car"
            android:parentActivityName=".ShowCarActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.cesar.carservice.ShowCarActivity" />
        </activity>
        <activity
            android:name=".OrderService1Activity"
            android:label="@string/title_activity_order_service1"
            android:parentActivityName=".ShowCarActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.cesar.carservice.ShowCarActivity" />
        </activity>
        <activity
            android:name=".OrderService2Activity"
            android:label="@string/title_activity_order_service2"
            android:parentActivityName=".OrderService1Activity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.cesar.carservice.OrderService1Activity" />
        </activity>
        <activity
            android:name=".OrderServiceDiagnosticActivity"
            android:label="@string/title_activity_order_service_diagnostic"
            android:parentActivityName=".OrderService2Activity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.cesar.carservice.OrderService2Activity" />
        </activity>
        <activity
            android:name=".OrderServiceQuotesActivity"
            android:label="@string/title_activity_order_service_quotes"
            android:parentActivityName=".OrderServiceDiagnosticActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.cesar.carservice.OrderServiceDiagnosticActivity" />
        </activity>
    </application>

</manifest>
